USE [master]
GO
/****** Object:  Database [Biometric_Tran]    Script Date: 04/13/2018 19:12:50 ******/
CREATE DATABASE [Biometric_Tran] ON  PRIMARY 
( NAME = N'Biometric_Tran', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Biometric_Tran.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Biometric_Tran_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Biometric_Tran_log.LDF' , SIZE = 768KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Biometric_Tran].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Biometric_Tran]
GO
/****** Object:  Table [dbo].[Trans]    Script Date: 04/13/2018 19:12:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Trans](
	[TId] [varchar](50) NOT NULL,
	[UserId] [varchar](50) NOT NULL,
	[UserName] [varchar](50) NULL,
	[MerId] [varchar](50) NOT NULL,
	[MerchantName] [varchar](50) NULL,
	[Amt] [varchar](50) NOT NULL,
	[Date] [varchar](50) NOT NULL,
	[Note] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Trans] ([TId], [UserId], [UserName], [MerId], [MerchantName], [Amt], [Date], [Note]) VALUES (N'50001', N'10001', NULL, N'20001', NULL, N'1000', N'2018-04-12', N'merchant')
INSERT [dbo].[Trans] ([TId], [UserId], [UserName], [MerId], [MerchantName], [Amt], [Date], [Note]) VALUES (N'50002', N'10001', NULL, N'20001', NULL, N'111', N'2018-04-13', N'ssss')
INSERT [dbo].[Trans] ([TId], [UserId], [UserName], [MerId], [MerchantName], [Amt], [Date], [Note]) VALUES (N'50003', N'10001', N'manishmishra', N'20001', N'rajan', N'100', N'2018-04-13', N'manishmanish')
/****** Object:  Table [dbo].[Merchant]    Script Date: 04/13/2018 19:12:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Merchant](
	[MId] [varchar](50) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Officename] [varchar](50) NOT NULL,
	[Phone] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[LId] [varchar](50) NOT NULL,
	[Address] [varchar](max) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[PinCode] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Merchant] ([MId], [Name], [Officename], [Phone], [Email], [LId], [Address], [City], [PinCode], [Password]) VALUES (N'20001', N'rajan', N'nevon', N'9874563210', N'rjnkumar743@gmail.com', N'airoli', N'thane', N'888', N'401209', N'raj')
/****** Object:  Table [dbo].[Customer]    Script Date: 04/13/2018 19:12:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[CId] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Address] [varchar](max) NULL,
	[City] [varchar](50) NULL,
	[Limit] [varchar](50) NULL,
	[Finger] [varbinary](max) NULL,
	[Password] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Bank]    Script Date: 04/13/2018 19:12:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bank](
	[BId] [int] NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[ID] [varchar](50) NOT NULL,
	[Bank] [varchar](50) NOT NULL,
	[AccNo] [varchar](50) NOT NULL,
	[Branch] [varchar](50) NOT NULL,
	[IFSC] [varchar](50) NOT NULL,
	[CardNo] [varchar](50) NOT NULL,
	[CVV] [varchar](50) NOT NULL,
	[Month] [varchar](50) NOT NULL,
	[Year] [varchar](50) NOT NULL,
	[Balance] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Bank] ([BId], [Type], [ID], [Bank], [AccNo], [Branch], [IFSC], [CardNo], [CVV], [Month], [Year], [Balance]) VALUES (1001, N'Customer', N'10001', N'union', N'789789', N'vile', N'as4as4', N'321321', N'444', N'18', N'19', N'8789')
INSERT [dbo].[Bank] ([BId], [Type], [ID], [Bank], [AccNo], [Branch], [IFSC], [CardNo], [CVV], [Month], [Year], [Balance]) VALUES (1002, N'Merchant', N'20001', N'sbi', N'654564', N'airoli', N'a45a5s5a', N'854', N'666', N'18', N'20', N'111211')
INSERT [dbo].[Bank] ([BId], [Type], [ID], [Bank], [AccNo], [Branch], [IFSC], [CardNo], [CVV], [Month], [Year], [Balance]) VALUES (1003, N'Customer', N'10002', N'demo', N'9874563211', N'demo', N'4a45s4s5', N'7896541230125478', N'555', N'11', N'20', N'40000')
/****** Object:  Table [dbo].[Admin]    Script Date: 04/13/2018 19:12:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[Id] [varchar](50) NULL,
	[Pass] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Admin] ([Id], [Pass]) VALUES (N'admin', N'admin')
